ollama
chromadb
streamlit 
pdfplumber 
langchain
langchain-core
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
