ollama
chromadb
streamlit 
pdfplumber 
langchain
langchain-core
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
nltk>=3.8.2 # not directly required, pinned by Snyk to avoid a vulnerability
